//https://colorhunt.co/palette/189792 -- Use this color pallete

$color-white: #ffff;
$color-black: #000;

$color-primary: #fbc687;

$color-secondary: #ea907a;

$color-tertiary: #f4f7c5;

$color-light-green: #aacdbe;


$color-grey-light-1: #eee;
$color-grey-light-2: #888888;


//FONT SIZES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;